name: Continuous Integration

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
  pull_request:
    types:
      - 'opened'
      - 'synchronize'
  workflow_dispatch:
  schedule:
    # Schedule every Saturday at 00:30 UTC
    - cron: '30 0 * * 6'

jobs:
  python-ci:
    uses: epsy/python-workflows/.github/workflows/python-ci.yaml@ykaiser/py311rc
    with:
      package-folder: clize
  mypy:
    name: "Run mypy on typed example"
    runs-on: 'ubuntu-latest'
    steps:
      - uses: epsy/python-workflows/install-tox@main
        with:
          python-version: "3.10"
      - name: Run mypy with tox
        uses: epsy/python-workflows/tox-ci@main
        with:
          tox-args: -e typecheck
          python-test-args: examples/typed_cli.py
          problem-matcher: mypy
